<div class="tableform">
  <div class="division">
    <table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <th><label><{t}>店铺名：<{/t}></label></th>
        <td><{$data.shopname|escape:'html'}></td>
        <th><label><{t}>姓名：<{/t}></label></th>
        <td><{$data.shopusername}></td>
      </tr>
      <tr>
        <th><label><{t}>地址：<{/t}></label></th>
        <td><{$data.shoparea}></td>
        <th><label><{t}>详细地址：<{/t}></label></th>
        <td><{$data.shopaddr}></td>
      </tr>
	         <tr>
			 <th><label>介绍人：</label></th>
        <td><{$data.ditroducer}></td>
      </tr>

    </table>
  </div>
</div>

<script>
</script>
