<div>
    <div class="shopex-content-padded">
        <a class="font-white" href="<{url action=topwap_ctl_default@index}>"><i class="bbc-icon bbc-icon-home-empty"></i> 首页</a>
    </div>
    <div class="shopex-content-padded">
        <a class="font-white" href="<{url action=topwap_ctl_default@index}>"><i class="bbc-icon bbc-icon-brand"></i> 品牌</a>
    </div>
    <div class="shopex-content-padded">
        <a class="font-white" href="<{url action=topwap_ctl_category@index}>"><i class="bbc-icon bbc-icon-category-empty"></i> 分类</a>
    </div>
    <div class="shopex-content-padded">
        <a class="font-white" href="<{url action=topwap_ctl_cart@index}>"><i class="bbc-icon bbc-icon-cart-empty"></i> 进货单</a>
    </div>
    <div class="shopex-content-padded">
        <a class="font-white" href="<{url action=topwap_ctl_member@index}>"><i class="bbc-icon bbc-icon-user-empty"></i> 会员</a>
    </div>
</div>
